{% extends 'base.html' %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'CSS/projects.css' %}">
    <link rel="stylesheet" href="{% static 'CSS/home.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400&display=swap" rel="stylesheet">
{% endblock head %}
{% block content %}
    <div class="image-cover">
        <img draggable="false" class="project-cover" src="{% static 'Media/projects_cover.webp' %}">
    </div>
    <div class="container title-container">
        <h3 id="title">Projects Page</h3>
    </div>
    <div class="projects-main">
        <div class="criteria-notch-container">
            <div class="container criteria-container">
                <div class="criteria-card" id="construction">
                    <p class="criteria-title">
                        Construction Work
                    </p>
                </div>
                <div class="criteria-card" id="landscape">
                    <p class="criteria-title">
                        Landscape Work
                    </p>
                </div>
                <div class="criteria-card" id="repair">
                    <p class="criteria-title">
                        Repair Work
                    </p>
                </div>
            </div>
            <div class="sort-dropdown">
                <span class="sortby">Sort By:
                    <span id="criteria-selected"></span>
                    <span class="removeSort">❌</span>
                </span>
                <label class="popup">
                    <input type="checkbox">
                    <div class="burger" tabindex="0">
                        <svg height="1.2em" class="arrow" viewBox="0 0 512 512">
                            <path d="M233.4 105.4c12.5-12.5 32.8-12.5 45.3 0l192 192c12.5
                            12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L256 173.3 86.6 342.6c-12.
                            5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3l192-192z"></path>
                        </svg>
                    </div>
                    <nav class="popup-window">
                        <legend>Sort By</legend>
                        <ul>
                            <li class="sortby-li">
                                <button>
                                    <span class="sort-criteria">Newest</span>
                                </button>
                            </li>
                            <li class="sortby-li">
                                <button>
                                    <span class="sort-criteria">Oldest</span>
                                </button>
                            </li>
                        </ul>
                    </nav>
                </label>
            </div>
        </div>

        <div class="container p_container">
            <div class="project-container">
                {% for project in projects %}
                    <div id="zoomAnim{{ project.id }}" class="zoomAnim">
                        <div id="p{{ project.id }}" class="cta">
                            <img draggable="false" id="p_img{{ project.id }}" class="p_img" src="/{{ project.img }}" alt="">
                            <div class="p_body">
                                <h2 class="p_title">{{ project.name }}</h2>
                                <p class="p_desc">{{ project.desc }}</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div id="radio-notch" class="radio-button-container"></div>
    </div>
{% endblock content %}
{% block additional %}
    <script>
        setTimeout(function () {
            var projects = [], totalProjects = 0.0;
            {% for i in projects %}
                projects.push({
                    'id': '{{ i.id }}',
                    'name': '{{ i.name }}',
                    'type': '{{ i.type }}',
                    'img': '{{ i.img }}',
                    'desc': '{{ i.desc }}',
                    'year': '{{ i.year }}',
                });
                totalProjects++;
            {% endfor %}
            $("#criteria-selected").text("");
            let factor = 80;
            for (let x = 1; x <= totalProjects; x++) {
                $("#p" + projects[x-1]['id']).on('click', function () {
                    window.open("/project_view/" + projects[x-1]['id']);
                })
                if (!$("#zoomAnim" + projects[x-1]['id']).hasClass("zoom-animate") && x <= 6) {
                    $("#zoomAnim" + projects[x-1]['id']).show();
                    setTimeout(function () {
                        $("#zoomAnim" + projects[x-1]['id']).toggleClass('zoom-animate');
                    }, 100 + factor)
                }else{
                    $("#zoomAnim" + projects[x-1]['id']).hide();
                    $("#zoomAnim" + x).removeClass('zoom-animate');
                }
                factor += 60;
            }
            function restoreData(dict){
                let factor = 80;
                for (let x = 1; x <= totalProjects; x++) {
                    $("#zoomAnim" + dict[x-1]['id']).removeClass('zoom-animate');
                }
                for (let x = 1; x <= totalProjects; x++) {
                    if (x<=6){
                        $("#zoomAnim" + dict[x-1]['id']).show();
                        setTimeout(function () {
                            if (!$("#zoomAnim" + dict[x-1]['id']).hasClass("zoom-animate")){
                                $("#zoomAnim" + dict[x-1]['id']).toggleClass('zoom-animate');
                            }
                        }, 100 + factor)
                        factor += 50;
                    }else{
                        $("#zoomAnim" + dict[x-1]['id']).hide();
                        if ($("#zoomAnim" + dict[x-1]['id']).hasClass("zoom-animate")){
                            $("#zoomAnim" + dict[x-1]['id']).toggleClass('zoom-animate');
                        }
                    }
                }
                $("#radio1").prop('checked', true);
            }
            function defaultRadiobtns(dict){
                $("#radio-notch").empty();
                if (totalProjects >= 6) {
                    for (let i = 1; i <= Math.ceil(dict.length/6); i++) {
                        if (!$("#radio-notch").find(".radio" + i).attr('class')){
                            $("#radio-notch").append("<div class=\"radio-button\">" +
                                "<input type=\"radio\" class=\"radio-button__input\" id=\"radio" + i + "\"name=\"radio-group\">" +
                                "<label class=\"radio-button__label\" for=\"radio" + i + "\">" +
                                "<span class=\"radio-button__custom\"></span>" +
                                "</label></div>");
                        }
                        $("#radio" + i).off('click');
                        $("#radio" + i).click(function (){
                            $('#radio' + i).prop('checked', true);
                            if (i === 1) {
                                restoreData(dict);
                            }else{
                                let factor = 80;
                                for (let x = 1; x <= dict.length; x++) {
                                    if (x > 6*(i-1) && x <= i*6){
                                        $("#zoomAnim" + dict[x-1]['id']).show();
                                        setTimeout(function () {
                                            if (!$("#zoomAnim" + dict[x-1]['id']).hasClass("zoom-animate")){
                                                $("#zoomAnim" + dict[x-1]['id']).toggleClass('zoom-animate');
                                            }
                                        }, 100 + factor)
                                        factor += 50;
                                    }else{
                                        $("#zoomAnim" + dict[x-1]['id']).hide();
                                        if ($("#zoomAnim" + dict[x-1]['id']).hasClass("zoom-animate")){
                                            $("#zoomAnim" + dict[x-1]['id']).toggleClass('zoom-animate');
                                        }
                                    }
                                }
                            }
                        });
                        if (i === 1){
                            $("#radio" + i).prop('checked', true);
                        }

                    }
                }else{
                    if (check === 0){
                        if (!$("#radio-notch").find(".radio" + i).attr('class')) {
                            $("#radio-notch").append("<div class=\"radio-button\">" +
                                "<input checked type=\"radio\" class=\"radio-button__input\" id=\"radio1\"name=\"radio-group\">" +
                                "<label class=\"radio-button__label\" for=\"radio1\">" +
                                "<span class=\"radio-button__custom\"></span>" +
                                "</label></div>");
                        }
                    }
                }
            }
            defaultRadiobtns(projects);

            function updateData(criteria, dict) {
                let factor = 80;
                for (let j=0; j<dict.length; j++){
                    $("#zoomAnim" + dict[j]['id']).removeClass("zoom-animate");
                    $("#zoomAnim" + dict[j]['id']).hide();
                }
                for (let j=0; j<dict.length; j++){
                    if (dict[j]['type'].toLowerCase().includes(criteria)){
                        $("#zoomAnim" + dict[j]['id']).show();
                        if (!$("#zoomAnim" + dict[j]['id']).hasClass("zoom-animate")){
                            setTimeout(function () {
                                $("#zoomAnim" + dict[j]['id']).toggleClass('zoom-animate');
                            }, 100 + factor);
                            factor += 60;
                        }
                    }else{
                        $("#zoomAnim" + dict[j]['id']).hide();
                        if ($("#zoomAnim" + dict[j]['id']).hasClass("zoom-animate")){
                            $("#zoomAnim" + dict[j]['id']).toggleClass('zoom-animate');
                        }
                    }
                }
            }
            $(".popup").on('mouseup', function () {
                $(".popup-window").toggleClass('maximise');
                if (!$(".popup-window").hasClass('maximise')){
                    $(".arrow").css('rotate', '0deg');
                }else{
                    $(".arrow").css('rotate', '180deg');
                }
            })
            const criteriaArr = [];
            $(".criteria-card").each(function () {
                criteriaArr.push($(this));
                $(document).on('mousedown', function (e){
                    if (!$(e.target).closest(criteriaArr).length) {
                        for (i of criteriaArr){
                            i.removeClass('criteria-card-clicked');
                        }
                        if ($("#radio-notch").css('display') === 'none' && !$(e.target).closest("#construction," +
                            " #repair, #landscape").length){
                            restoreData(projects);
                            $("#radio-notch").show(200);
                            $("#radio1").prop('checked', true);
                        }
                    }
                })
                $(this).on('mouseup', function (){
                    for (let x = 1; x <= totalProjects; x++) {
                        $("#zoomAnim" + x).removeClass('zoom-animate');
                    }
                    $("#radio-notch").hide(200);
                    for (i of criteriaArr){
                        if (i.attr('id') === $(this).attr('id')){
                            i.toggleClass('criteria-card-clicked');
                        }else{
                            i.removeClass('criteria-card-clicked');
                        }
                    }
                    if ($("#criteria-selected").text()){
                        updateData($(this).attr('id'), sortBy($("#criteria-selected").text().toLowerCase()));
                    }else{
                        updateData($(this).attr('id'), projects);
                    }
                })
            })

            function restorOrder(dict) {
                defaultRadiobtns(dict);
                let factor = 150;
                $(".project-container").empty();
                for (let x = 1; x <= dict.length; x++) {
                    $(".project-container").append(
                        "<div id=\"zoomAnim" + dict[x-1]['id'] + "\"class=\"zoomAnim\">" +
                        "<div id=\"p" + dict[x-1]['id'] + "\"class=\"cta\">" +
                        "<img id=\"p_img" + dict[x-1]['id'] + "\"class=\"p_img\" src=\"/" + dict[x-1]['img'] + "\">" +
                        "<div class=\"p_body\">" +
                        "<h2 class=\"p_title\">" + dict[x-1]['name'] + "</h2>" +
                        "<p class=\"p_desc\">" + dict[x-1]['desc'] + "</p></div></div></div>")
                    if (x <= 6) {
                        $("#zoomAnim" + dict[x - 1]['id']).show();
                        setTimeout(function () {
                            if (!$("#zoomAnim" + dict[x - 1]['id']).hasClass("zoom-animate")) {
                                $("#zoomAnim" + dict[x - 1]['id']).toggleClass('zoom-animate');
                            }
                        }, 100 + factor)
                        factor += 80;
                    } else {
                        $("#zoomAnim" + dict[x - 1]['id']).hide();
                        if ($("#zoomAnim" + dict[x - 1]['id']).hasClass("zoom-animate")) {
                            $("#zoomAnim" + dict[x - 1]['id']).toggleClass('zoom-animate');
                        }
                    }
                    $("#p" + dict[x-1]['id']).on('click', function () {
                        window.open("/project_view/" + dict[x-1]['id']);
                    })
                }
            }

            function sortBy(criteria){
                let sortedList = projects.slice();
                for (let x = 1; x <= totalProjects; x++) {
                    $("#zoomAnim" + x).removeClass('zoom-animate');
                }
                $(".project-container").empty();
                if (criteria === "oldest"){
                    sortedList.sort((a, b) => {
                        const yearA = parseInt(a.year);
                        const yearB = parseInt(b.year);
                        return yearA - yearB;
                    });
                }else if (criteria === "newest"){
                    sortedList.sort((a, b) => {
                        const yearA = parseInt(a.year);
                        const yearB = parseInt(b.year);
                        return yearB - yearA;
                    });
                }
                restorOrder(sortedList);
                return sortedList;
            }

            $(".sortby-li").each(function () {
                $(this).on('mouseup', function () {
                    $(".popup").animate({
                        marginLeft: '8px'
                    }, 200)
                    setTimeout(function () {
                        $("#criteria-selected").css({
                            'opacity': '1',
                        });
                        $(".removeSort").css({
                            'opacity': '1',
                        });
                    }, 200);
                    $("#criteria-selected").text($(this).find('.sort-criteria').text());
                    sortBy($(this).find('.sort-criteria').text().toLowerCase());
                })
            });
            $(".removeSort").click(function () {
                $(this).css({
                    'opacity': '0',
                });
                $("#criteria-selected").css({
                    'opacity': '0',
                });
                setTimeout(function () {
                    $("#criteria-selected").text("");
                    $(".popup").animate({
                        marginLeft: '-36px'
                    }, 200)
                }, 200);
                restorOrder(projects);
            });
            $(document).on('mousedown', function (e){
                if (!$(e.target).closest(".popup, .popup-window").length) {
                    if ($(".popup-window").hasClass('maximise')){
                        $(".popup-window").removeClass('maximise');
                        $(".arrow").css('rotate', '0deg');
                    }
                }
            })
        }, loadingTime + 100)
    </script>
{% endblock additional %}