{% extends 'base.html' %}
{% load static %}
{% block head %}
    <meta charset='utf-8'>
    <link rel="stylesheet" href="{% static 'CSS/project_view.css' %}">
    <link rel="stylesheet" href="{% static 'CSS/home.css' %}">
    <link rel="stylesheet" href="{% static 'CSS/Slider.css' %}">
{% endblock head %}
{% block content %}
    <div class="image-cover">
        {% for i in project.images.all %}
            {% if i.thumbnail %}
                <img draggable="false" class="project-cover" src="{{ i.url }}">
            {% endif %}
        {% endfor %}
        <div class="overlay"></div>
        <div class="container pView-title-container">
            <h3 class="pView-title">{{ project.name }}</h3>
        </div>
    </div>
    <div class="main-img">
            <div class="container p-container">
                <div class="p-arabic-container">
                    <h3 class="p-title">:تفاصيل المشروع</h3>
                    <div class="p-detail-line line-edited"></div>
                </div>
                <div class="p-desc">{{ project.description }}</div>
            </div>
            <div class="p-detail-wrapper">
                <div class="p-details-container">
                    <div class="p-detail-col">
                        <div class="p-detail-item">
                            <div class="p-detail-line"></div>
                            <div class="p-detail-title">Year</div>
                            <div class="p-detail-description">{{ project.year }}</div>
                        </div>
                    </div>
                    <div class="p-detail-col">
                        <div class="p-detail-item">
                            <div class="p-detail-line"></div>
                            <div class="p-detail-title">Location</div>
                            <div class="p-detail-description">{{ project.location }}</div>
                        </div>
                    </div>
                    <div class="p-detail-col">
                        <div class="p-detail-item">
                            <div class="p-detail-line"></div>
                            <div class="p-detail-title">Client</div>
                            <div class="p-detail-description">{{ project.client.name }}</div>
                        </div>
                    </div>
                    <div class="p-detail-col">
                        <div class="p-detail-item">
                            <div class="p-detail-line"></div>
                            <div class="p-detail-title">Sector</div>
                            <div class="p-detail-description">{{ project.sector }}</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="swiper swiper-carousel swiper-initialized swiper-horizontal swiper-watch-progress">
                    <div class="swiper-wrapper" style="cursor: grab; transition-duration: 0ms; transform: translate3d(-770.477px, 0px, 0px);">
                        {% for i in images %}
                            <div class="swiper-slide swiper-slide-visible swiper-slide-next" data-swiper-slide-index="{{ i.get_Image_num }}">
                                <div class="swiper-carousel-animate-opacity" >
                                    <img src="{{ i.url }}" class="slider-images">
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-button-next"></div>
                </div>
            </div>
    </div>
{% endblock content %}
{% block additional %}
    <script type="module" src="{% static 'JS/slider1.mjs' %}"></script>
    <script type='text/javascript'>
        function pView_script() {
            let x = 0;
            const desc = "{{ project.description }}";
            $(".p-desc").empty();
            if (desc.includes("١-")) {
                for (let i = 0; i < desc.length; i++) {
                    if (desc.charAt(i) === ".") {
                        $(".p-desc").append(
                            "<p class=\"text-lines" + "\">" + desc.slice(x, i + 1) + "</p>"
                        )
                        x = i + 1;
                    }
                }
            }else{
                $(".p-desc").append(
                    "<p class=\"text-lines" + "\">" + desc + "</p>"
                )
            }
        }
    </script>
{% endblock additional %}