.about-img{
    width: 100%;
}
#title{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: 65px;
    font-weight: 900;
}
.title-container{
    position: absolute;
    color: white;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #3a3a3aa3;
    border-radius: 50px;
}
.work-title{
    background: #eb7e39;
    border-radius: 50px;
    width: 480px;
    color: white;
    font-weight: bold;
    font-size: 40px;
    margin: 50px auto 0;
}
.work-title2{
    margin-top: 0;
    width: 825px;
}
.work-subtitle{
    margin-top: 25px !important;
    font-style: italic;
    font-weight: bold;
}
.work-section{
    text-align: center;
}
.work-section-div{
    justify-content: center;
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 0 auto;
    box-sizing: border-box;
}
.work-body{
    font-size: 21px;
    width: 740px;
    margin: 40px auto;
}
.work-body2{
    width: 762px;
    margin-top: 10px;
    margin-bottom: 85px;
}
.work-data-layout{
    box-sizing: border-box;
    margin: -10px;
}
.work-data-layout-row{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    min-height: fit-content;
    max-width: 100%;
}
.work-data-layout-row-div{
    flex: 0 0 25%;
    max-width: 25%;
    min-width: 25%;
    min-height: 263px;
    border: 10px solid transparent;
    position: relative;
    display: flex;
    background-clip: padding-box;
    background-origin: padding-box;
    max-height: 100%;
}
.work-data-layout-row-container{
    padding: 20px 30px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    position: relative;
    flex: 1;
    max-width: 100%;
    transition-duration: inherit;
}
.work-data-layout-row-container-num{
    font-weight: 700;
    margin: 0;
    font-size: 4.5rem;
    line-height: 1.1;
}
.work-data-layout-row-container-lable{
    text-transform: uppercase;
    font-size: 1.7rem;
    letter-spacing: 2px;
    margin: 20px 0 0;
}
#section1-body{
    margin-bottom: 5px;
}
#section1-title, #section2-title{
    height: 52px;
}
#section1-title,
#section1-body,
#section2-title,
#section2-subtitle,
#section2-body,
#counter{
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s, transform 0.5s ;
}