@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,500,300,700); /*Slider*/
html,
body {
    height: 100%;
    user-select: none;
    transition: background-color 0.3s ease-in-out;
}
.lead{
    user-select: text!important;
}
.tcb-bs-fullscreen{
    height: 100vh;
}
.carousel, .item, .active {
    height: 100%;
}
.carousel-inner {
    height: 100%;
}
.project{
    margin: 40px -15px !important;
}
/******* Main Loader *******/
.webPage{
    background-color: white !important;
    opacity: 0;
}
.spinner {
    --size: 30px;
    --color: #ff6300;
    opacity: 0;
    display: flex;
    align-items: center;
    height: 100vh;
    position: relative;
    transition: all 0.3s ease-in-out;
}

.spinner::after,.spinner::before {
    box-sizing: border-box;
    position: absolute;
    content: "";
    width: var(--size);
    height: var(--size);
    top: 50%;
    animation: up 2.4s cubic-bezier(0, 0, 0.24, 1.21) infinite;
    left: 50%;
    background: var(--color);
    box-shadow: 0 0 calc(var(--size) / 3) rgba(0, 0, 0, 0.25);
}

.spinner::after {
    background: var(--color);
    top: calc(50% - var(--size));
    left: calc(50% - var(--size));
    animation: down 2.4s cubic-bezier(0, 0, 0.24, 1.21) infinite;
}

@keyframes down {
    0%, 100% {
        transform: none;
    }

    25% {
        transform: translateX(100%);
    }

    50% {
        transform: translateX(100%) translateY(100%);
    }

    75% {
        transform: translateY(100%);
    }
}

@keyframes up {
    0%, 100% {
        transform: none;
    }

    25% {
        transform: translateX(-100%);
    }

    50% {
        transform: translateX(-100%) translateY(-100%);
    }

    75% {
        transform: translateY(-100%);
    }
}

/******** End Loader *******/
/*----------Join Us Form----------*/

/*-----------Loader-----------*/
.loader {
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.jimu-primary-loading:before,
.jimu-primary-loading:after {
    position: absolute;
    top: 0;
    content: '';
}

.jimu-primary-loading:before {
    left: -19.992px;
}

.jimu-primary-loading:after {
    left: 19.992px;
    -webkit-animation-delay: 0.32s !important;
    animation-delay: 0.32s !important;
}

.jimu-primary-loading:before,
.jimu-primary-loading:after,
.jimu-primary-loading {
    background: #ff6300;
    -webkit-animation: loading-keys-app-loading 0.8s infinite ease-in-out;
    animation: loading-keys-app-loading 0.8s infinite ease-in-out;
    width: 13.6px;
    height: 32px;
}

.jimu-primary-loading {
    text-indent: -9999em;
    margin: auto;
    position: absolute;
    right: calc(50% - 6.8px);
    top: calc(50% - 16px);
    -webkit-animation-delay: 0.16s !important;
    animation-delay: 0.16s !important;
}

@-webkit-keyframes loading-keys-app-loading {

    0%,
    80%,
    100% {
        opacity: .75;
        box-shadow: 0 0 #eb7e39;
        height: 32px;
    }

    40% {
        opacity: 1;
        box-shadow: 0 -8px #eb7e39;
        height: 40px;
    }
}

@keyframes loading-keys-app-loading {

    0%,
    80%,
    100% {
        opacity: .75;
        box-shadow: 0 0 #ff6300;
        height: 32px;
    }

    40% {
        opacity: 1;
        box-shadow: 0 -8px #ff6300;
        height: 40px;
    }
}
/*-----------EndLoader-----------*/

/*************Check Mark*************/
#done, #done2{
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-in-out;
}
#success_msg, #success_msg2{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    margin-bottom: 0 !important;
    opacity: 0;
    z-index: -1;
    transition: all 0.2s ease-in-out;
}
.mail-sent, .mail-sent2 {
    margin-top: 15px;
    text-align: center;
    font-size: 24px;
    opacity: 0;
    animation: textAnimation 0.4s ease-in-out 1s forwards;
}
.mail-sent2{
    color: white;
}

@keyframes textAnimation {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
.checkmark__circle{
    stroke-dasharray: 166;
    stroke-dashoffset: 166;
    stroke-width: 2;
    stroke-miterlimit: 10;
    stroke: #7ac142;
    fill: none;
    animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards
}
.checkmark{
    margin-left: auto;
    margin-right: auto;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    display: block;
    stroke-width: 2;
    stroke: #fff;
    stroke-miterlimit: 10;
    box-shadow: inset 0 0 0 #7ac142;
    animation: fill .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both
}
.checkmark__check{
    transform-origin: 50% 50%;
    stroke-dasharray: 48;
    stroke-dashoffset: 48;
    animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards
}
@keyframes stroke{
    100%{stroke-dashoffset: 0}
}@keyframes scale{
     0%, 100%{
         transform: none
     }
     50%{
         transform: scale3d(1.1, 1.1, 1)
     }
 }
@keyframes fill{
    100%{
        box-shadow: inset 0 0 0 30px #7ac142
    }
}

.crossmark {
    margin: auto;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    display: block;
    stroke-width: 2;
    stroke: #fff;
    stroke-miterlimit: 10;
    box-shadow: inset 0 0 0 #7ac142;
    animation: fill2 .4s ease-in-out .4s forwards, scale2 .3s ease-in-out .9s both;
}

.crossmark_circle {
    stroke-dasharray: 166;
    stroke-dashoffset: 166;
    stroke-width: 2;
    stroke-miterlimit: 10;
    stroke: red;
    fill: none;
    animation: stroke2 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
}

.crossmark_check {
    transform-origin: 50% 50%;
    stroke-dasharray: 48;
    stroke-dashoffset: 48;
    animation: stroke2 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
}

@keyframes stroke2 {
    100% {
        stroke-dashoffset: 0;
    }
}
@keyframes scale2 {
    0%, 100% {
        transform: none;
    }
    50% {
        transform: scale3d(1.1, 1.1, 1);
    }
}
@keyframes fill2 {
    100% {
        box-shadow: inset 0 0 0 30px red;
    }
}
/************************************/

#form_content, #form_content2{
    margin-bottom: 30px;
    margin-top: -52px;
    opacity: 1;
    transition: opacity 0.3ms ease-in-out;
}

#contact-form {
    position: absolute;
    z-index: 6;
    top: 100px;
    right: 20px;
    width: 0;
    border-radius: 20px;
    padding: 25px;
    margin: 25px 0 25px 25px;
    box-shadow: 0 0 15px 8px #0000005c;
    background: #f5f5f5;
}
.row-edited{
    margin: 56px -15px 0;
}
.form-row2{
    width: 525px;
    margin: 56px auto;
}
.expand-form{
    overflow: hidden;
    height: 0;
    border-radius: 40px;
    margin-top: 10px;
    background-image: url("/static/Media/joinus-cover.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
}
#contact-form2 {
    width: 100%;
    position: relative;
    z-index: 6;
    border-radius: 20px;
    padding: 25px;
    margin: auto;
    background: transparent;
}
#contact-title2{
    color: white;
    font-size: 46px;
    font-weight: bolder;
    margin-top: 10px;
    margin-bottom: 8px;
    text-align: center;
}
.contact-bdy2{
    display: flex;
}

#contact-title{
    margin-top: 10px;
    margin-bottom: 8px;
    text-align: center;
}
.fas {
    margin: 25px 10px 0;
    font-size: 72px;
    color: #fff;
}
.fa-envelope {
    transform: rotate(-20deg);
}
.fa-at , .fa-mail-bulk{
    transform: rotate(10deg);
}
input, textarea {
    width: calc(100% - 18px);
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #eb7e39;
    outline: none;
}
input::placeholder {
    color: #666;
}
#contact {
    width: 100%;
    padding: 10px;
    border: none;
    background: #1c87c9;
    font-size: 16px;
    font-weight: 400;
    color: #fff;
}
#contact:hover {
    background: #2371a0;
}
@media (min-width: 568px) {
    .main-block {
        flex-direction: row;
    }
    .left-part{
        width: 50%;
    }
    .fa-envelope {
        margin-top: 0;
        margin-left: 20%;
    }
    .fa-at {
        margin-top: -10%;
        margin-left: 65%;
    }
    .fa-mail-bulk {
        margin-top: 2%;
        margin-left: 28%;
    }
}
/*--------------------------------*/
/*Contact Form Validation*/
.nameLable,
.emailLable,
.phoneLable,
.descLable,
.phoneLable2,
.nameLable2,
.emailLable2,
.descLable2 {
    color: #333; /* Default label color */
    transition: color 0.3s ease;
}

/* Style for the label when a field is invalid */
.nameLable.invalid,
.emailLable.invalid,
.phoneLable.invalid,
.descLable.invalid,
.phoneLable2.invalid,
.nameLable2.invalid,
.emailLable2.invalid,
.descLable2.invalid {
    color: red; /* Red color for invalid fields */
}

/* Style for the input field when a field is invalid */
.name:invalid,
.email:invalid,
.phone:invalid,
.desc:invalid,
.phone2.invalid,
.name2.invalid,
.email2.invalid,
.desc2.invalid {
    border-color: red; /* Red border for invalid fields */
}

/* Style for the input field when a field is valid */
.name:valid,
.email:valid,
.phone:valid,
.desc:valid,
.phone2, .name2, .email2, .desc2 {
    border-color: #ccc; /* Default border color for valid fields */
}

/* Style for validation messages */
.validation-message {
    color: red; /* Red color for validation messages */
    font-size: 12px;
    display: none; /* Hidden by default */
}

/* Style for the asterisk (*) for required fields */
.required {
    color: red;
    font-size: 16px;
    margin-left: 5px;
}
.error-message {
    margin-left: 8px;
    display: none;
    color: red;
    font-size: 14px;
    margin-top: 5px;
}
/*-----------------------*/
/****************************
USE BACKGROUND IMAGES IN CAROUSEL SLIDER
*****************************/
.item {
    background-color: rgba(255, 255, 255, 0);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    min-height: 360px;
}
/*--------------End-Slider--------------*/

/* Transparent Navbar */
.navbar {
    background-color: transparent;
}

/* Navbar Hover Animation */
.nav-link:hover::after {
    transform: scale(1.1);
    width: 100%;
}

.nav-link::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background-color: #007bff;
    transition: width 0.3s;
}

#join-btn{
    cursor: pointer;
}

#navbtn, #join-btn {
    color: #ff883d;
}

/* Hamburger Icon Color */
.navbar-toggler-icon {
    background-color: #ffffff;
}

.background-cover {
    background-size: cover;
}

#projects,
.py-2 {
    position: relative;
    z-index: 1;
}

#projects-title,
#join-section,
.expand-form{
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s, transform 0.5s ;
}

#projects-title{
    background: #eb7e39;
    border-radius: 50px;
    width: 246px;
    margin-left: auto;
    margin-right: auto;
    color: white;
    font-weight: bold;
    font-size: 40px;
}

.animated {
    opacity: 1 !important;
    transform: translateY(0) !important;
}

/*////////////////////////////////////*/
.detailsbtn {
    padding: 0.8em 1.7em;
    background-color: transparent;
    border-radius: 40px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: .5s;
    font-weight: 400;
    font-size: 17px;
    border: 1px solid;
    font-family: inherit;
    text-transform: uppercase;
    color: #eb7e39;
    z-index: 1;
}

.detailsbtn::before, .detailsbtn::after {
    content: '';
    display: block;
    width: 50px;
    height: 50px;
    transform: translate(-50%, -50%);
    position: absolute;
    border-radius: 50%;
    z-index: -1;
    background-color: #eb7e39;
    transition: 0.7s ease;
}

.detailsbtn::before {
    top: -1em;
    left: -1em;
}

.detailsbtn::after {
    left: calc(100% + 1em);
    top: calc(100% + 1em);
}

.detailsbtn:hover::before, .detailsbtn:hover::after {
    height: 410px;
    width: 410px;
}

.detailsbtn:hover {
    color: black;
    border-color: #eb7e39;
    font-weight: 700;
}

.detailsbtn:active {
    filter: brightness(.8);
}

.detailsbtn:focus {
    outline: none;
}

/*////////////////////////////////////*/

/* Add spacing between sections */

#nav {
    background-color: #bebebeab;
    border-radius: 50px;
    padding: 0 20px;
}

#nav:before, #nav:after{
    content: none !important;
}
#join-section, #footer, #join_sec{
    position: relative;
    z-index: 5;
}

#join_sec{
    padding-bottom: 56px !important;
}

#joinUs-title{
    width: 40%;
    margin: auto auto 20px;
    color: white;
    background-color: #eb7e39;
    font-weight: bold;
    text-align: center;
    border-radius: 50px;
}

#joinUs-body{
    margin-bottom: 30px !important;
}

.joinus-btn, .joinus-btn-cancel {
    width: 10em;
    height: 3em;
    border-radius: 30em;
    font-size: 16px;
    font-family: inherit;
    border: none;
    position: relative;
    overflow: hidden;
    z-index: 5;
    box-shadow: 6px 6px 12px #ff8c0099, -6px -6px 12px #ff8c0099;
    transition: color 0.3s ease-in-out;
}

.joinus-btn::before, .joinus-btn-cancel::before {
    content: '';
    width: 0;
    height: 3em;
    border-radius: 30em;
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(to right, #eb7e39 0%, #f9f047 100%);
    transition: .5s ease;
    display: block;
    z-index: -1;
}

.joinus-btn:hover::before, .joinus-btn-cancel:hover::before {
    width: 11em;
}
.joinus-btn:hover, .joinus-btn-cancel:hover {
    color: black;
    font-weight: 700;
}
.joinus-btn:focus, .joinus-btn-cancel:focus {
    outline: none;
}

.joinus-btn-cancel{
    box-shadow: 6px 6px 12px #ff00006e, -6px -6px 12px #ff00006e;
}
.joinus-btn-cancel::before {
    background-image: linear-gradient(to right, #dd0c2b 0%, rgb(255 6 6 / 84%) 100%);
}
.joinus-btn-cancel:hover {
    color: white;
}

.joinus-btn-div, .joinus-btn-div2{
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}

#contact-bdy, #contact-form{
    display: none;
}

.phone, .name, .email, .desc,
.phone2, .name2, .email2, .desc2{
    width: 100%;
    border-radius: 18px;
    height: 38px;
    padding-left: 15px;
    background-color: #edf3fd;
    transition: height 0.2s ease-in-out;
}

.desc{
    resize: none;
}

.phoneLable, .nameLable, .emailLable, .descLable,
.phoneLable2, .nameLable2, .emailLable2, .descLable2{
    cursor: text;
    margin-bottom: -91px;
    position: relative;
    left: 15px;
    top: 27px;
    transition: top 0.2s ease-in-out, color 0.2s cubic-bezier(0.6, -0.08, 0.41, 1.05)
}

#p-details{
    text-align: center;
}

.w-100{
    height: 90% !important;
    border-radius: 40px !important;
}
.col{
    padding-left: 40px !important;
    padding-right: 40px !important;
}
.col-md-6{
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

#welcome-box {
    text-align: center;
    position: absolute;
    top: 40%;
    background-color: #3a3a3aa3;
    border-radius: 50px;
    padding: 15px 60px;
}

#welcome {
    font-family: Sans-serif, serif;
    font-weight: 900;
    font-size: 60px;
    color: white;
}

#slider-pics{
    position: fixed;
}

#nav-tabs {
    background-color: #252525d9;
    border-radius: 50px;
    margin-right: 0;
    transition: width 220ms;
}

.nav-item{
    margin-left: 10px;
    margin-right: 10px;
    font-size: 20px;
}

/* Add a background color with low opacity to the hamburger icon list */
.navbar-toggler-icon {
    background-color: rgba(255, 255, 255, 0.5);
}

.arrow-icon {
    transition: margin-left 0.2s ease-in-out, opacity 0.2s ease-in-out;
    margin-left: -15px!important;
    opacity: 0;
}

.nav-item:hover .arrow-icon {
    margin-left: 5px!important;
    opacity: 1;
}

.footer-distributed{
    position: relative;
    z-index: 5;
    background: #666;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    padding: 30px 50px;
}

.footer-left{
    margin-top: -10px;
}

#copyRights{
    text-align: center;
    font-family: sans-serif;
    margin-top: 15px;
    margin-bottom: 0;
    color: #ffffffcc;
    font-size: 15px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
    display: inline-block;
    vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
    width: 40%;
}

/* The company logo */

.footer-distributed h3{
    color:  #ffffff;
    font: normal 36px 'Open Sans', Sans-serif;
    margin: 0;
}

.footer-distributed h3 span{
    color:  lightseagreen;
}

/* Footer links */

.footer-distributed .footer-links{
    color:  #ffffff;
    margin: 20px 0 12px;
    padding: 0;
}

.footer-distributed .footer-links a{
    display:inline-block;
    line-height: 1.8;
    font-weight:400;
    text-decoration: none;
    color:  inherit;
}

.footer-distributed .footer-company-name{
    color:  #222;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}

/* Footer Center */

#fa-ico, #what-ico{
    border-radius: 50px !important;
    width: 42px !important;
    line-height: 42px !important;
    height: 42px !important;
}

#mail-ico{
    transform: rotate(0);
}

.footer-distributed .footer-center{
    width: 35%;
}

.footer-distributed .footer-center i{
    background-color:  #33383b;
    color: #ffffff;
    font-size: 25px;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
    font-size: 17px;
}

.footer-distributed .footer-center p{
    display: inline-block;
    color: #ffffff;
    font-weight:400;
    vertical-align: middle;
    margin:0;
}

.footer-distributed .footer-center p span{
    display:block;
    font-weight: normal;
    font-size:14px;
    line-height:2;
}

.footer-distributed .footer-center p a{
    color:  lightseagreen;
    text-decoration: none;;
}

.footer-distributed .footer-links a:before {
    content: "|";
    font-weight:300;
    font-size: 20px;
    left: 0;
    color: #fff;
    display: inline-block;
    padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
    content: none;
}

/* Footer Right */

.footer-distributed .footer-right{
    width: 20%;
}

.footer-distributed .footer-company-about{
    line-height: 20px;
    color:  #92999f;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
}

.footer-distributed .footer-company-about span{
    display: block;
    color:  #ffffff;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px;
}

.footer-distributed .footer-icons{
    margin-top: 25px;
}

.footer-distributed .footer-icons a{
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;

    font-size: 20px;
    color: #ffffff;
    text-align: center;

    margin-right: 3px;
    margin-bottom: 5px;
}

#footer-about{
    color: #ffffffd1 !important;
    font-size: 12px !important;
    font-weight: lighter !important;
}

/*    Join US Form    */
.jnFormBtn {
    all: unset;
    display: flex;
    align-items: center;
    position: relative;
    padding: 0.6em 2em;
    border: mediumspringgreen solid 0.15em;
    border-radius: 0.25em;
    color: mediumspringgreen;
    font-size: 1.5em;
    font-weight: 600;
    cursor: pointer;
    overflow: hidden;
    transition: border 300ms, color 300ms;
    user-select: none;
}

.jnFormBtn p {
    z-index: 1;
}

.jnFormBtn:hover {
    color: #212121;
}

.jnFormBtn:active {
    border-color: teal;
}

.jnFormBtn::after, .button::before {
    content: "";
    position: absolute;
    width: 9em;
    aspect-ratio: 1;
    background: mediumspringgreen;
    opacity: 50%;
    border-radius: 50%;
    transition: transform 500ms, background 300ms;
}

.jnFormBtn::before {
    left: 0;
    transform: translateX(-8em);
}

.jnFormBtn::after {
    right: 0;
    transform: translateX(8em);
}

.jnFormBtn:hover:before {
    transform: translateX(-1em);
}

.jnFormBtn:hover:after {
    transform: translateX(1em);
}

.jnFormBtn:active:before,
.jnFormBtn:active:after {
    background: teal;
}
/***********************/

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {

    .footer-distributed{
        font: bold 14px sans-serif;
    }

    .footer-distributed .footer-left,
    .footer-distributed .footer-center,
    .footer-distributed .footer-right{
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
    }

    .footer-distributed .footer-center i{
        margin-left: 0;
    }

}