@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,500,300,700); /*Slider*/
html,
body {
    height: 100%;
    user-select: none;
    transition: background-color 0.3s ease-in-out;
}
.lead{
    user-select: text!important;
}
 /*### Nav Button CSS ###*/
    .menu__icon {
        outline: none !important;
        border: none;
        background: none;
        padding: 0;
        margin: 0;
        cursor: pointer;
        font-family: inherit;
    }
    .background {
        border-radius: 16px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .menu__icon {
        cursor: pointer;
        width: 32px;
        height: 27px;
        padding: 2px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .menu__icon span {
        width: 100%;
        height: 0.125rem;
        border-radius: 0.125rem;
        background-color: black;
        box-shadow: 0 0 0 0.3px black;
        transition: transform .4s, background-color .4s, opacity .4s;
    }

    .firstSpan-animation{
        background-color: rgb(255, 59, 48);
        transform: translateY(10px) rotate(-45deg);
    }
    .secondSpan-animation{
        transform: translate(-50%);
        opacity: 0;
    }
    .thirdSpan-animation{
        background-color: rgb(255, 59, 48);
        transform: translateY(-11px) rotate(45deg);
    }
 /*######################*/
.carousel, .item, .active {
    height: 100%;
}
.carousel-inner {
    height: 100vh;
}
.project{
    margin: 40px -15px !important;
}
/******* Main Loader *******/
.webPage{
    overflow-x: hidden;
    background-color: white !important;
    opacity: 0;
}
.spinner {
    --size: 30px;
    --color: #ff6300;
    opacity: 0;
    display: flex;
    align-items: center;
    height: 100vh;
    position: relative;
    transition: all 0.3s ease-in-out;
}

.spinner::after,.spinner::before {
    box-sizing: border-box;
    position: absolute;
    content: "";
    width: var(--size);
    height: var(--size);
    top: 50%;
    animation: up 2.4s cubic-bezier(0, 0, 0.24, 1.21) infinite;
    left: 50%;
    background: var(--color);
    box-shadow: 0 0 calc(var(--size) / 3) rgba(0, 0, 0, 0.25);
}

.spinner::after {
    background: var(--color);
    top: calc(50% - var(--size));
    left: calc(50% - var(--size));
    animation: down 2.4s cubic-bezier(0, 0, 0.24, 1.21) infinite;
}

@keyframes down {
    0%, 100% {
        transform: none;
    }

    25% {
        transform: translateX(100%);
    }

    50% {
        transform: translateX(100%) translateY(100%);
    }

    75% {
        transform: translateY(100%);
    }
}

@keyframes up {
    0%, 100% {
        transform: none;
    }

    25% {
        transform: translateX(-100%);
    }

    50% {
        transform: translateX(-100%) translateY(-100%);
    }

    75% {
        transform: translateY(-100%);
    }
}

/******** End Loader *******/
/*----------Join Us Form----------*/

/*-----------Loader-----------*/
.loader {
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.jimu-primary-loading:before,
.jimu-primary-loading:after {
    position: absolute;
    top: 0;
    content: '';
}

.jimu-primary-loading:before {
    left: -19.992px;
}

.jimu-primary-loading:after {
    left: 19.992px;
    -webkit-animation-delay: 0.32s !important;
    animation-delay: 0.32s !important;
}

.jimu-primary-loading:before,
.jimu-primary-loading:after,
.jimu-primary-loading {
    background: #ff6300;
    -webkit-animation: loading-keys-app-loading 0.8s infinite ease-in-out;
    animation: loading-keys-app-loading 0.8s infinite ease-in-out;
    width: 13.6px;
    height: 32px;
}

.jimu-primary-loading {
    text-indent: -9999em;
    margin: auto;
    position: absolute;
    right: calc(50% - 6.8px);
    top: calc(50% - 16px);
    -webkit-animation-delay: 0.16s !important;
    animation-delay: 0.16s !important;
}

@-webkit-keyframes loading-keys-app-loading {

    0%,
    80%,
    100% {
        opacity: .75;
        box-shadow: 0 0 #eb7e39;
        height: 32px;
    }

    40% {
        opacity: 1;
        box-shadow: 0 -8px #eb7e39;
        height: 40px;
    }
}

@keyframes loading-keys-app-loading {

    0%,
    80%,
    100% {
        opacity: .75;
        box-shadow: 0 0 #ff6300;
        height: 32px;
    }

    40% {
        opacity: 1;
        box-shadow: 0 -8px #ff6300;
        height: 40px;
    }
}
/*-----------EndLoader-----------*/

/*************Check Mark*************/
#done, #done2{
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-in-out;
}
#success_msg, #success_msg2{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    margin-bottom: 0 !important;
    opacity: 0;
    z-index: -1;
    transition: all 0.2s ease-in-out;
}
.mail-sent, .mail-sent2 {
    margin-top: 15px;
    text-align: center;
    font-size: 24px;
    opacity: 0;
    animation: textAnimation 0.4s ease-in-out 1s forwards;
}
.mail-sent2{
    color: white;
}

@keyframes textAnimation {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
.checkmark__circle{
    stroke-dasharray: 166;
    stroke-dashoffset: 166;
    stroke-width: 2;
    stroke-miterlimit: 10;
    stroke: #7ac142;
    fill: none;
    animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards
}
.checkmark{
    margin-left: auto;
    margin-right: auto;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    display: block;
    stroke-width: 2;
    stroke: #fff;
    stroke-miterlimit: 10;
    box-shadow: inset 0 0 0 #7ac142;
    animation: fill .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both
}
.checkmark__check{
    transform-origin: 50% 50%;
    stroke-dasharray: 48;
    stroke-dashoffset: 48;
    animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards
}
@keyframes stroke{
    100%{stroke-dashoffset: 0}
}@keyframes scale{
     0%, 100%{
         transform: none
     }
     50%{
         transform: scale3d(1.1, 1.1, 1)
     }
 }
@keyframes fill{
    100%{
        box-shadow: inset 0 0 0 30px #7ac142
    }
}

.crossmark {
    margin: auto;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    display: block;
    stroke-width: 2;
    stroke: #fff;
    stroke-miterlimit: 10;
    box-shadow: inset 0 0 0 #7ac142;
    animation: fill2 .4s ease-in-out .4s forwards, scale2 .3s ease-in-out .9s both;
}

.crossmark_circle {
    stroke-dasharray: 166;
    stroke-dashoffset: 166;
    stroke-width: 2;
    stroke-miterlimit: 10;
    stroke: red;
    fill: none;
    animation: stroke2 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
}

.crossmark_check {
    transform-origin: 50% 50%;
    stroke-dasharray: 48;
    stroke-dashoffset: 48;
    animation: stroke2 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
}

@keyframes stroke2 {
    100% {
        stroke-dashoffset: 0;
    }
}
@keyframes scale2 {
    0%, 100% {
        transform: none;
    }
    50% {
        transform: scale3d(1.1, 1.1, 1);
    }
}
@keyframes fill2 {
    100% {
        box-shadow: inset 0 0 0 30px red;
    }
}
/************************************/

#form_content, #form_content2{
    margin-bottom: 30px;
    margin-top: -52px;
    opacity: 1;
    transition: opacity 0.3ms ease-in-out;
}

#contact-form {
    position: absolute;
    z-index: 6;
    top: 100px;
    right: 20px;
    width: 0;
    border-radius: 20px;
    padding: 25px;
    margin: 25px 0 25px 25px;
    box-shadow: 0 0 15px 8px #0000005c;
    background: #f5f5f5;
}
.row-edited{
    margin: 56px -15px 0;
}
.form-row2{
    width: 525px;
    margin: 56px auto;
}
.expand-form{
    overflow: hidden;
    height: 0;
    border-radius: 40px;
    margin-top: 10px;
    background-image: url("/static/Media/joinus-cover.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
}
#contact-form2 {
    width: 100%;
    position: relative;
    z-index: 6;
    border-radius: 20px;
    padding: 25px;
    margin: auto;
    background: transparent;
}
#contact-title2{
    color: white;
    font-size: 46px;
    font-weight: bolder;
    margin-top: 10px;
    margin-bottom: 8px;
    text-align: center;
}
.contact-bdy2{
    display: flex;
}

#contact-title{
    margin-top: 10px;
    margin-bottom: 8px;
    text-align: center;
}
.fas {
    margin: 25px 10px 0;
    font-size: 72px;
    color: #fff;
}
.fa-envelope {
    transform: rotate(-20deg);
}
.fa-at , .fa-mail-bulk{
    transform: rotate(10deg);
}
input, textarea {
    width: calc(100% - 18px);
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #eb7e39;
    outline: none;
}
input::placeholder {
    color: #666;
}
#contact {
    width: 100%;
    padding: 10px;
    border: none;
    background: #1c87c9;
    font-size: 16px;
    font-weight: 400;
    color: #fff;
}
#contact:hover {
    background: #2371a0;
}
@media (min-width: 568px) {
    .main-block {
        flex-direction: row;
    }
    .left-part{
        width: 50%;
    }
    .fa-envelope {
        margin-top: 0;
        margin-left: 20%;
    }
    .fa-at {
        margin-top: -10%;
        margin-left: 65%;
    }
    .fa-mail-bulk {
        margin-top: 2%;
        margin-left: 28%;
    }
}
/*--------------------------------*/
/*Contact Form Validation*/
.nameLable,
.emailLable,
.phoneLable,
.descLable,
.phoneLable2,
.nameLable2,
.emailLable2,
.descLable2 {
    color: #333; /* Default label color */
    transition: color 0.3s ease;
}

/* Style for the label when a field is invalid */
.nameLable.invalid,
.emailLable.invalid,
.phoneLable.invalid,
.descLable.invalid,
.phoneLable2.invalid,
.nameLable2.invalid,
.emailLable2.invalid,
.descLable2.invalid {
    color: red; /* Red color for invalid fields */
}

/* Style for the input field when a field is invalid */
.name:invalid,
.email:invalid,
.phone:invalid,
.desc:invalid,
.phone2.invalid,
.name2.invalid,
.email2.invalid,
.desc2.invalid {
    border-color: red; /* Red border for invalid fields */
}

/* Style for the input field when a field is valid */
.name:valid,
.email:valid,
.phone:valid,
.desc:valid,
.phone2, .name2, .email2, .desc2 {
    border-color: #ccc; /* Default border color for valid fields */
}

/* Style for validation messages */
.validation-message {
    color: red; /* Red color for validation messages */
    font-size: 12px;
    display: none; /* Hidden by default */
}

/* Style for the asterisk (*) for required fields */
.required {
    color: red;
    font-size: 16px;
    margin-left: 5px;
}
.error-message {
    margin-left: 8px;
    display: none;
    color: red;
    font-size: 14px;
    margin-top: 5px;
}
/*-----------------------*/
/****************************
USE BACKGROUND IMAGES IN CAROUSEL SLIDER
*****************************/
.item {
    background-color: black;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    min-height: 360px;
}
.item-img{
    position: initial !important;
    padding: 0;
    height: 100% !important;
    width: 100%;
    opacity: 0.6;
}
/*--------------End-Slider--------------*/

/* Transparent Navbar */
.navbar {
    background-color: transparent;
}

/* Navbar Hover Animation */
.nav-link:hover::after {
    transform: scale(1.1);
    width: 100%;
}

.nav-link::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background-color: #007bff;
    transition: width 0.3s;
}

#join-btn{
    cursor: pointer;
}

#navbtn, #join-btn {
    color: #ff883d;
}

#navbtn{
    margin-left: auto;
    margin-right: auto;
    width: max-content;
}

/* Hamburger Icon Color */
.navbar-toggler-icon {
    background-color: #ffffff;
}

.background-cover {
    background-size: cover;
}

#projects,
.py-2 {
    position: relative;
    z-index: 1;
}

#projects-title,
#join-section,
.expand-form{
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s, transform 0.5s ;
}

#projects-title{
    background: #eb7e39;
    border-radius: 50px;
    width: 246px;
    margin-left: auto;
    margin-right: auto;
    color: white;
    font-weight: bold;
    font-size: 40px;
}

.animated {
    opacity: 1 !important;
    transform: translateY(0) !important;
}

/*////////////////////////////////////*/
.detailsbtn {
    padding: 0.8em 1.7em;
    background-color: transparent;
    border-radius: 40px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: .5s;
    font-weight: 400;
    font-size: 17px;
    border: 1px solid;
    font-family: inherit;
    text-transform: uppercase;
    color: #eb7e39;
    z-index: 1;
}

.detailsbtn::before, .detailsbtn::after {
    content: '';
    display: block;
    width: 50px;
    height: 50px;
    transform: translate(-50%, -50%);
    position: absolute;
    border-radius: 50%;
    z-index: -1;
    background-color: #eb7e39;
    transition: 0.7s ease;
}

.detailsbtn::before {
    top: -1em;
    left: -1em;
}

.detailsbtn::after {
    left: calc(100% + 1em);
    top: calc(100% + 1em);
}

.detailsbtn:hover::before, .detailsbtn:hover::after {
    height: 410px;
    width: 410px;
}

.detailsbtn:hover {
    color: black;
    border-color: #eb7e39;
    font-weight: 700;
}

.detailsbtn:active {
    filter: brightness(.8);
}

.detailsbtn:focus {
    outline: none;
}

/*////////////////////////////////////*/

/* Add spacing between sections */

#nav {
    background-color: #bebebeab;
    border-radius: 50px;
    padding: 0 20px;
}

#nav:before, #nav:after{
    content: none !important;
}

#join-section, #footer, #join_sec{
    position: relative;
    z-index: 5;
}

#join_sec{
    padding-bottom: 56px !important;
}

#joinUs-title{
    width: fit-content;
    padding: 0 30px;
    margin: auto auto 20px;
    color: white;
    background-color: #eb7e39;
    font-weight: bold;
    text-align: center;
    border-radius: 50px;
}

#joinUs-body{
    margin-bottom: 30px !important;
}

.joinus-btn, .joinus-btn-cancel {
    width: 10em;
    height: 3em;
    border-radius: 30em;
    font-size: 16px;
    font-family: inherit;
    border: none;
    position: relative;
    overflow: hidden;
    z-index: 5;
    box-shadow: 6px 6px 12px #ff8c0099, -6px -6px 12px #ff8c0099;
    transition: color 0.3s ease-in-out;
}

.joinus-btn::before, .joinus-btn-cancel::before {
    content: '';
    width: 0;
    height: 3em;
    border-radius: 30em;
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(to right, #eb7e39 0%, #f9f047 100%);
    transition: .5s ease;
    display: block;
    z-index: -1;
}

.joinus-btn:hover::before, .joinus-btn-cancel:hover::before {
    width: 11em;
}
.joinus-btn:hover, .joinus-btn-cancel:hover {
    color: black;
    font-weight: 700;
}
.joinus-btn:focus, .joinus-btn-cancel:focus {
    outline: none;
}

.joinus-btn-cancel{
    box-shadow: 6px 6px 12px #ff00006e, -6px -6px 12px #ff00006e;
}
.joinus-btn-cancel::before {
    background-image: linear-gradient(to right, #dd0c2b 0%, rgb(255 6 6 / 84%) 100%);
}
.joinus-btn-cancel:hover {
    color: white;
}

.joinus-btn-div, .joinus-btn-div2{
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}

#contact-bdy, #contact-form{
    display: none;
}

.phone, .name, .email, .desc,
.phone2, .name2, .email2, .desc2{
    width: 100%;
    border-radius: 18px;
    height: 38px;
    padding-left: 15px;
    background-color: #edf3fd;
    transition: height 0.2s ease-in-out;
}

.desc, .desc2{
    resize: none;
}

.phoneLable, .nameLable, .emailLable, .descLable,
.phoneLable2, .nameLable2, .emailLable2, .descLable2{
    cursor: text;
    margin-bottom: -91px;
    position: relative;
    left: 15px;
    top: 27px;
    transition: top 0.2s ease-in-out, color 0.2s cubic-bezier(0.6, -0.08, 0.41, 1.05)
}

#p-details{
    text-align: center;
}

.w-100{
    height: 90% !important;
    border-radius: 40px !important;
}
.col{
    padding-left: 40px !important;
    padding-right: 40px !important;
}
.col-md-6{
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}
.order-md-1{
    order: 1 !important;
}
.order-md-2{
    order: 2 !important;
}
#welcome-box {
    text-align: center;
    background-color: #3a3a3aa3;
    border-radius: 50px;
    padding: 15px 60px;
}

.welcome-box-container{
    position: absolute;
    top: 350px;
    z-index: 3;
}

#welcome {
    font-family: Sans-serif, serif;
    font-weight: 900;
    font-size: 60px;
    color: white;
}

#welcome-box>p{
    font-size: 17px;
}

#nav-tabs {
    width: max-content;
    background-color: #252525d9;
    border-radius: 50px;
    background-size: auto 100%;
    margin-right: 0;
    transition: width 220ms;
}

.nav-item{
    margin-left: 10px;
    margin-right: 10px;
    font-size: 20px;
}

/* Add a background color with low opacity to the hamburger icon list */
.navbar-toggler-icon {
    background-color: rgba(255, 255, 255, 0.5);
}

.arrow-icon {
    transition: margin-left 0.2s ease-in-out, opacity 0.2s ease-in-out;
    margin-left: -15px!important;
    opacity: 0;
}

.nav-item:hover .arrow-icon {
    margin-left: 5px!important;
    opacity: 1;
}

.footer-distributed{
    overflow-x: hidden;
    position: relative;
    z-index: 5;
    background: #666;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    padding: 30px 50px;
}

.footer-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    justify-content: center;
}

.all-rights{
    grid-column: span 4;
}

.footer-left{
    margin-top: -10px;
}

#copyRights{
    text-align: center;
    font-family: sans-serif;
    margin-top: 15px;
    margin-bottom: 0;
    color: #ffffffcc;
    font-size: 15px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
    display: inline-block;
    vertical-align: top;
}
.footer-right{
    grid-column: div 1;
    width: 254px;
}

/* Footer left */

.footer-distributed .footer-left{
    width: 40%;
}

/* The company logo */

.footer-distributed h3{
    color:  #ffffff;
    font: normal 36px 'Open Sans', Sans-serif;
    margin: 0;
}

.footer-distributed h3 span{
    color:  lightseagreen;
}

/* Footer links */

.footer-distributed .footer-links{
    color:  #ffffff;
    margin: 20px 0 12px;
    padding: 0;
}

.footer-distributed .footer-links a{
    display:inline-block;
    line-height: 1.8;
    font-weight:400;
    text-decoration: none;
    color:  inherit;
}

.footer-distributed .footer-company-name{
    color:  #222;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}

/* Footer Center */

#fa-ico, #what-ico{
    border-radius: 50px !important;
    width: 42px !important;
    line-height: 42px !important;
    height: 42px !important;
}

#mail-ico{
    transform: rotate(0);
}

.footer-distributed .footer-center i{
    background-color:  #33383b;
    color: #ffffff;
    font-size: 25px;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}

.footer-center{
    width: max-content;
}

.footer-distributed .footer-center i.fa-envelope{
    font-size: 17px;
}

.footer-distributed .footer-center p{
    display: inline-block;
    color: #ffffff;
    font-weight:400;
    vertical-align: middle;
    margin:0;
}

.footer-distributed .footer-center p span{
    display:block;
    font-weight: normal;
    font-size:14px;
    line-height:1;
}

.footer-distributed .footer-center p a{
    color:  lightseagreen;
    text-decoration: none;;
}

.footer-distributed .footer-links a:before {
    content: "|";
    font-weight:300;
    font-size: 20px;
    left: 0;
    color: #fff;
    display: inline-block;
    padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
    content: none;
}

.footer-container:before{
    content: none !important;
}

/* Footer Right */

.footer-distributed .footer-company-about{
    line-height: 20px;
    color:  #92999f;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
}

.footer-company-about{
    text-align: center;
}

.footer-distributed .footer-company-about span{
    display: block;
    color:  #ffffff;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px;
}

.footer-distributed .footer-icons{
    margin-top: 25px;
}

.footer-distributed .footer-icons .container{
    display: flex;
    align-items: center;
    width: max-content;
    gap: 10px;
}

.footer-distributed .footer-icons a{
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;

    font-size: 20px;
    color: #ffffff;
    text-align: center;

    margin-right: 3px;
    margin-bottom: 5px;
}

#footer-about{
    color: #ffffffd1 !important;
    font-size: 12px !important;
    font-weight: lighter !important;
}

/*    Join US Form    */
.jnFormBtn {
    all: unset;
    display: flex;
    align-items: center;
    position: relative;
    padding: 0.6em 2em;
    border: mediumspringgreen solid 0.15em;
    border-radius: 0.25em;
    color: mediumspringgreen;
    font-size: 1.5em;
    font-weight: 600;
    cursor: pointer;
    overflow: hidden;
    transition: border 300ms, color 300ms;
    user-select: none;
}

.jnFormBtn p {
    z-index: 1;
}

.jnFormBtn:hover {
    color: #212121;
}

.jnFormBtn:active {
    border-color: teal;
}

.jnFormBtn::after, .button::before {
    content: "";
    position: absolute;
    width: 9em;
    aspect-ratio: 1;
    background: mediumspringgreen;
    opacity: 50%;
    border-radius: 50%;
    transition: transform 500ms, background 300ms;
}

.jnFormBtn::before {
    left: 0;
    transform: translateX(-8em);
}

.jnFormBtn::after {
    right: 0;
    transform: translateX(8em);
}

.jnFormBtn:hover:before {
    transform: translateX(-1em);
}

.jnFormBtn:hover:after {
    transform: translateX(1em);
}

.jnFormBtn:active:before,
.jnFormBtn:active:after {
    background: teal;
}
/***********************/

/* Media Queries For Making Website Responsive */

@media (min-width: 1200px){
    .welcome-box-container{
        left: calc(50% - 1170px/2)!important;
    }
    .project-cover {
        height: 130%;
    }
    .criteria-notch-container {
        flex-direction: row !important;
    }
    .project-container {
        grid-template-columns: repeat(2, 1fr) !important;
    }
}
@media (min-width: 992px){
    .welcome-box-container{
        left: calc(50% - 970px/2);
    }
    .contact-us-container{
        width: 85%;
    }
}
@media (min-width: 768px) {
    .work-body{
        font-size: 2rem;
    }
    #section1-body {
        width: 630px;
        margin: 30px auto;
    }
    #section2-body{
        width: 650px;
    }
}
@media (min-width: 575px) {
    .about-title-container{
        width: 72%;
        padding: 20px 40px 25px;
    }
}
@media (max-width: 1200px){
    .about-img{
        height: 67vh;
    }
    .projects-title{
        font-size: 6rem;
    }
    .projects-title-container{
        width: max-content;
        top: 36%;
    }
    .image-cover{
        height: 65vh;
    }
}
@media (max-width: 992px){
    #nav-tabs{
        width: 100%;
        margin-bottom: 20px;
        margin-top: 15px;
    }
    #join-button-li{
        display: none;
    }
    .projects-img{
        order: 1 !important;
        height: 100% !important;
    }
    .projects-txt{
        order: 2 !important;
    }
    .projects-sections{
        max-width: 630px !important;
    }
    .col-md-6 {
        max-width: 1500px !important;
    }
    .row-edited {
        margin: 25px -15px 0;
    }
    .welcome-box-container{
        left: calc(50% - 750px/2);
    }
    #welcome-box > h1{
        font-size: 50px;
    }
    #welcome-box>p{
        font-size: 15px;
    }
    .join-sentence{
        padding: 0 40px !important;
    }
    .contact-row{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
    .contact-row .col-sm-5{
        width: 100%;
        max-width: 490px;
    }
    .contact-row .col-sm-7{
        width: 100%;
        max-width: none;
    }
    .contact-img{
        height: 50vh;
    }
    .about-img{
        height: 48vh;
    }
    .about-title{
        font-size: 5rem !important;
    }
    .pView-title-container{
        width: max-content;
        padding: 15px 50px 25px;
    }
    .pView-title{
        font-size: 5.2rem !important;
        margin: 0 !important;
    }
    .image-cover2{
        height: 60vh;
    }
    .projects-title {
        font-size: 5rem;
    }
}
@media (max-width: 768px) {
    .nav-logo-img{
        width: 68px !important;
    }
    #welcome-box > h1{
        font-size: 38px;
    }
    #welcome-box>p{
        font-size: 12px;
    }
    .form-row2 {
        width: auto;
    }
    .welcome-box-container{
        left: calc(50% - 560px/2);
        top: 240px;
    }
    .carousel-inner {
        height: 85vh;
    }
    .footer-container {
        grid-template-columns: 1fr;
        gap: 0;
        row-gap: 30px;
    }
    .footer-right {
        display: grid !important;
        grid-column: 1;
        width: fit-content;
    }
    .footer-center{
        display: grid !important;
        text-align: center;
        grid-template-columns: 1fr 1fr 1fr;
        width: fit-content;
    }
    .footer-center > .location, .telephone, .mail{
        display: grid;
        margin-left: auto;
        margin-right: auto;
        grid-template-columns: 2fr;
        width: fit-content;
    }
    .footer-center > .location, .location  p  span{
        font-size: 11px !important;
    }
    .telephone p, .mail p{
        font-size: 14px;
    }
    .footer-company-about span{
        margin-bottom: 10px !important;
    }
    #footer-about{
        text-align: center;
    }
    .footer-icons{
        margin-top: 25px !important;
    }
    .footer-icons .container{
        margin-left: auto !important;
    }
    .all-rights{
        display: grid !important;
    }
    #copyRights{
        font-size: 12px;
    }
    .footer-container:after {
        content: none !important;
    }
    .contact-img{
        height: 40vh;
    }
    .contact-us-title{
        font-size: 45px !important;
    }
    .contact-us-container{
        max-width: 490px;
    }
    .contact-title{
        font-size: 3.2rem;
    }
    .work-title {
        font-size: 3rem;
    }
    .work-subtitle{
        font-size: 2rem;
    }
    .work-body{
        font-size: 1.6rem;
    }
    #section1-body{
        margin: 30px auto;
    }
    .work-section{
        margin-top: 35px;
    }
    .work-section1{
        margin-top: 0;
    }
    .work-data-layout-row-div {
        min-height: auto;
    }
    .pView-title-container{
        top: 30%;
    }
    .pView-title{
        font-size: 4.1rem !important;
    }
    .image-cover {
        height: 45vh;
    }
    .p-detail-title{
        font-size: 1.5rem;
    }
    .p-detail-description {
        font-size: 1.3rem;
    }
    .image-cover2{
        height: 76vw;
    }
    .projects-title-container {
        top: 26%;
    }
    .projects-title {
        font-size: 4.5rem;
    }
    .image-cover2{
        height: 45vh;
    }
    .cta{
        height: 320px;
        width: 450px;
    }
}
@media (max-width: 575px) {
    #welcome-box > h1{
        font-size: 32px;
    }
    #welcome-box>p{
        font-size: 11px;
    }
    .welcome-box-container{
        left: 0;
    }
    .carousel-inner {
        height: 68vh;
    }
    #joinUs-title, #projects-title{
        font-size: 35px;
    }
    .project-title{
        font-size: 3.5rem;
    }
    .contact-img{
        height: 36vh;
    }
    .contact-us-title{
        font-size: 30px !important;
    }
    .contact-us-container{
        max-width: 380px;
        margin-top: 35px;
        padding: 10px 60px 15px;
    }
    .contact-title{
        font-size: 2.8rem;
    }
    .about-title{
        font-size: 4.5rem !important;
    }
    .about-img{
        height: 40vh;
    }
    .work-data-layout-row-container-num {
        font-size: 3.5rem;
    }
    .work-title{
        font-size: 2.5rem;
    }
    .image-cover {
        height: 42vh;
    }
    .pView-title-container{
        top: 25%;
    }
    .pView-title{
        font-size: 3.3rem !important;
    }
    /*.image-cover2{*/
    /*    height: 42vh;*/
    /*}*/
    .project-cover {
        height: 111%;
    }
    .p-arabic-container .p-title{
        font-size: 4rem;
    }
    .p-desc .text-lines{
        font-size: 1.6rem;
    }
    .projects-title-container{
        padding: 15px 45px 20px;
        top: 22%;
    }
    .projects-title {
        font-size: 3.2rem;
    }
    .image-cover2 {
        height: 35vh;
    }
    .criteria-card{
        width: 200px;
    }
    .criteria-card p{
        font-size: 1.8rem;
    }
    .sortby{
        font-size: 1.7rem;
    }
    #criteria-selected{
        font-size: 1.6rem;
    }
}
@media (max-width: 516px) {
    .footer-icon{
        font-size: 18px;
        width: 40px;
        height: 40px;
    }
    .footer-center > .location, .location  p  span{
        font-size: 11px !important;
    }
    .telephone p, .mail p{
        font-size: 12px;
    }
    #phone-ico, #mail-ico, #loc-ico{
        margin-top: 0;
    }
    .contact-row.col-sm-5{
        max-width: 350px;
    }
    .contact-row .col-sm-7 iframe{
        border-radius: 0 !important;
    }
    .about-title{
        font-size: 4rem !important;
    }
    .about-img{
        height: 35vh;
    }
    .work-body{
        font-size: 1.2rem;
    }
    .work-subtitle{
        font-size: 1.8rem;
    }
    .work-title{
        font-size: 2.2rem;
    }
    .pView-title-container{
        top: 20%;
    }
    .pView-title{
        font-size: 2.3rem !important;
    }
    .image-cover {
        height: 35vh;
    }
    .p-arabic-container .p-title{
        font-size: 3.3rem;
    }
    .p-desc .text-lines{
        font-size: 1.3rem;
    }
    .cta {
        height: 258px;
        width: 400px;
    }
    .p_body {
        bottom: -60%;
    }
}
@media (max-width: 445px) {
    #footer-sec{
        padding: 30px 15px;
    }
    #welcome-box > h1{
        font-size: 24px;
    }
    #welcome-box>p{
        font-size: 9px;
    }
    .welcome-box-container{
        top: 130px;
    }
    .carousel-inner {
        height: 58vh;
    }
    .project-title{
        font-size: 3rem;
    }
    #joinUs-title, #projects-title{
        font-size: 25px;
    }
    .join-sentence, .project-desc{
        font-size: 14px;
    }
    .detailsbtn {
        font-size: 13px;
    }
    .joinus-btn{
        font-size: 14px;
    }
    #contact-title2{
        font-size: 40px;
    }
    .phoneLable2, .nameLable2, .emailLable2, .descLable2{
        font-size: 11px;
    }
    .footer-center{
        grid-template-rows: 1fr 1fr 1fr;
        text-align: left;
    }
    .location{
        grid-column: span 2;
    }
    .telephone{
        grid-column: span 3;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr !important;
    }
    .telephone p{
        width: auto !important;
    }
    .footer-center > .location, .telephone, .mail{
        grid-template-columns: 1fr 1fr 1fr;
        width: 100%;
    }
    .location a{
        width: fit-content;
    }
    .location p, .telephone p, .mail p{
        display: flex !important;
        flex-direction: column;
        justify-content: center;
        width: 229px;
        margin: auto;
        font-size: 12px;
    }
    .mail{
        grid-template-columns: 1fr 1fr;
    }
    .mail p{
        width: max-content;
    }
    .telephone p, .mail p{
        font-size: 14px !important;
    }
    .location p span{
        font-size: 11px;
        line-height: 1.2;
    }
    #phone-ico, #mail-ico, #loc-ico {
        margin: 10px 15px !important;
    }
    .contact-img{
        height: 30vh;
    }
    .contact-row .col-sm-5{
        max-width: 330px;
    }
    .contact-title{
        font-size: 2.4rem;
    }
    .findUs{
        font-size: 2.8rem;
    }
    .contact-body b{
        font-size: 2rem;
    }
    .contact-body span{
        font-size: 1.6rem;
    }
    .about-title {
        font-size: 3rem !important;
    }
    .about-img {
        height: 30vh;
    }
    .about-title-container{
        margin-top: 20px;
    }
    .pView-title-container{
        padding: 10px 50px 15px;
    }
    .pView-title{
        font-size: 2rem !important;
    }
    .image-cover {
        height: 32vh;
    }
    .project-cover {
        height: 115%;
    }
    .p-arabic-container .p-title{
        font-size: 3rem;
    }
    .p-desc .text-lines{
        font-size: 1.1rem;
    }
    .projects-title {
        font-size: 2.5rem;
    }
    .projects-cover {
        height: 86vw;
        width: 105vw;
    }
    .projects-title-container {
        top: 21%;
    }
    .image-cover2 {
        height: 33vh;
    }
    .criteria-card{
        width: 225px;
    }
    .criteria-card p{
        font-size: 1.8rem;
    }
    .p_body{
        bottom: -58%;
    }
    .p_title{
        font-size: 2.5rem;
    }
    .p_desc{
        font-size: 1rem;
    }
    .cta {
        height: 220px;
        width: 325px;
    }
    .project-container {
        margin: 40px 0;
    }
    .sort-criteria {
        font-size: 13px;
    }
}